.rewrite-textarea .ant-input-data-count {
  right: 0px !important;
  top: -25px !important;
  color: #bbb !important;
  font-size: 12px !important
}

.rewrite-textarea {
  min-height: max(100%, 436px) !important;
  resize: none !important;
  padding: 20px !important;
  font-size: 16px !important;
  background-color: #f8f9fc !important;
  border-radius: 6px !important
}

.no-draw-arrow {
  animation: bounce-left 1s infinite
}

@keyframes bounce-left {

  0%,
  to {
    transform: translate(-25%);
    animation-timing-function: cubic-bezier(.8, 0, 1, 1)
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, .2, 1)
  }
}

.no_up_list .ant-upload-list {
  display: none;
}

.no_up_list .ant-upload.ant-upload-select {
  width: 100%;
}