.robot {
  border: 1px solid #e0e6eb;
  border-radius: 16px;
  overflow: hidden;
  background-color: #fff;

  .search-container {
    min-width: 0 !important;
  }

  .search-input-box {
    padding: 6px 12px 8px 12px !important;
  }
}