* {
  box-sizing: border-box;
}

.detail {
  box-sizing: border-box;
  min-width: calc(100% - 161px - 210px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
  background-color: #f6f7f9;
  flex: auto
}

.init-page {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -moz-box-flex: 1;
  flex: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  margin-top: 16px;
}

.init-page .warp {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  min-width: 500px
}

.init-page .warp .inner {
  width: 100%;
  padding: 17px 20px 20px 20px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  background-color: #fff;
  flex-direction: column;
}

.inner .init-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
}

.init-header .init-logo {
  margin-right: 40px;
}

.init-header .init-logo img {
  height: 60px;
  width: 60px;
}

.init-header .init-title {
  font-size: 16px;
}

.init-content {
  margin-bottom: 50px;
}

/* .init-prompt {} */

.init-prompt .prompt-title {
  margin-bottom: 30px;
}

.init-prompt .prompt-content {
  position: relative;
  padding: 10px 16px;
}

.init-prompt .prompt-content::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #3e6ffb;
  top: 0;
  left: 0;
}

.prompt-content span {
  cursor: pointer;
}

.prompt-content span.shuxian {
  margin: 0 6px;
}