.video {
  height: 100%;
  display: flex;
}

.video .video-container {
  position: relative;
  flex: 1;
  flex-shrink: 0;
  background-color: #f9fafb;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: calc(100% - 161px - 210px);
}

.video-box {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
  background-color: #f6f7f9;
  flex: auto;
}