* {
  box-sizing: border-box;
}

.home {
  display: flex;
  justify-content: flex-start !important;
  width: 100%;
  height: 100vh;
  background-color: #f6f7f9;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
  border-inline-end: none;
}

.category .logo {
  /* height: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.category .logo img {
  height: 100%;
}

.logout {
  display: flex;
  padding: 0 16px;
  justify-content: center;
  border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
}